.container {
    display: flex;
    gap: 14px;
    padding-bottom: 12px;
    transition: background-color 400ms ease-in-out;
    padding: 6px;
    border-radius: 10px;
    background-color: #4a445c;
}

.container:hover {
    cursor: pointer;
    background-color: #696083;
}

.imgContainer {
    width: 20%;
}

.img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.username {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.lastMessage {
    color: grey;
    font-size: 12px;
}

.lastMessageTimeContainer {
    display: flex;
    justify-content: right;
}

.lastMessageTime {
    margin-top: 11.5px;
    margin-left: 30px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.borderBottom {
    /* border-bottom: 0.05px solid gray; */
}